<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Corona virus Tracker</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item ">
        <a class="nav-link ml-4"routerLink='world' routerLinkActive="active" href="#">Country </a>
      </li>
      <li class="nav-item">
        <a class="nav-link ml-4" routerLink='/search' routerLinkActive="active" href="#">History</a>
      </li>
      <li class="nav-item">
        <a class="nav-link ml-4" routerLink='/date' routerLinkActive="active" href="#">Date-wise</a>
      </li>
      
     
    </ul>
    
  </div>
</nav>
<router-outlet></router-outlet>